.form {
	display: flex;
	width: 1440px;
	height: 40px;
	padding: 36px 0px 32px 0px;
	justify-content: center;
	align-items: center;
	background: #FFF;
	margin-bottom: 32px;
}

.form-input {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 272px;
	height: 40px;
	flex-shrink: 0;
	border-radius: 4px;
	border: 1px solid #808080;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	margin-right: 8px;

}

.form-input.hover-effect {
	border: 1px solid #000;
}

.form-input.press-effect {
	border: 1px solid #4E75FF;
}



.form-submit {
	width: 91px;
	height: 40px;
	color: #FFF;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	display: flex;
	padding: 8px 16px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 8px;
	background-color: #4E75FF;
	transition: background-color 0.3s;
}

.form-submit.hover-effect {
	background-color: #6C8CFF;
}

.loading {
	display: block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	border: 3px solid;
	border-color: #FFF #FFF transparent transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

.loading::after,
.loading::before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border: 3px solid;
	border-color: transparent transparent #FF3D00 #FF3D00;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-sizing: border-box;
	animation: rotationBack 0.5s linear infinite;
	transform-origin: center center;
}

.loading::before {
	width: 32px;
	height: 32px;
	border-color: #FFF #FFF transparent transparent;
	animation: rotation 1.5s linear infinite;
}


@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotationBack {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}